.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.img {
    display: flex;
    justify-content: center;
}